<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2 class="text-center"><%= name %></h2>
        <p class = "display-1 text-center"><%= punchline %></p>
        <img src="<%= gif %>" alt="gif of troll face" class="d-block img-fluid mx-auto rounded">
    </div>
</main>







<%- include('../partials/footer') %>